
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

@import "install-button.css";
@import "../js/lib/layouts/css/layouts.css";

@import "fonts.css";

/* Your styles here */

html, body {
    height: 100%;
}

body {
    font-family: 'MozTTLight', Verdana, sans-serif;
    font-size: 2.25vw;
    font-size: 2em;
}

h1 {
    font: 2em "Open Sans", Sans-serif;
}

x-view .contents {
    padding: 1em;
}

x-view h1 {
    margin-top: 0;
}

x-view.edit .field {
    margin-top: 1em;
}

x-listview.list li:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/glyphicons-halflings.png) no-repeat -95px -2px;
    margin-right: 5px;
    vertical-align: middle;
}

ul li {
}

x-view > header h1 {
    font-size: 2em;
    line-height: 1em;
    margin-top: .5em;
}

x-view > header .navitems button {
    font-size: 1.3em;
    padding: 0 .5em;
    height: 2em;
    position: relative;

    box-shadow: 2px 2px 6px black;
    background-color: #c66a00;
    border: 4px solid white;
    color: white;
}

x-view > header .navitems button:active {
    top: 2px;
}

x-view > header {
    padding-top: .5em;
    padding-bottom: 1em;
    height: 2em;
}

header .prev, header .next {
    opacity: 1;
    transition: opacity 1s;
}

header .prev.hidden, header .next.hidden {
    opacity: 0;
}

x-view {
    text-align: center;
}

pre {
    text-align: left;
    display: inline-block;
}

x-view h1 {
    margin-top: 2em;
}

x-view ul {
    margin: 0 auto;
    width: 50vw;
    text-align: left;
    font-size: 3vw;
}

.name {
    font-size: 1.7em;
    text-align: right;
    margin-top: 4em;
    font-family: Georgia;
}

.name p {
    margin: .5em;
}

x-view:nth-child(2n) {
    background-color: #dfdfdf;
}

@keyframes box-animation {
    50% {
        transform: translateX(10vh);
        width: 15vw;
        height: 40vh;
        background-color: red;
    }

    100% {
        transform: translateX(80vw);
        height: 20vw;
        background-color: blue;
    }
}

.box {
    position: absolute;
    transform: translate(10vh, 2vw);
    width: 5vw;
    height: 5vw;
    background-color: purple;

    animation-duration: 5s;
}

a.jsfiddle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em 1em;
}

.touch1, .touch2 {
    width: 5em;
    width: 10vw;
    height: 5em;
    height: 10vw;
    color: white;
    margin: 1em;
    margin-top: 2em;

    display: inline-block;
}

.ajax-content img {
    width: 3vw;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 3vw;
    }
}